@import "bulma";
@import "ryan";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-image {
  width: 50px;
  // margin-top: 15px;
  // margin-left: 43%;
}

.main-content {
  margin-top: 1px !important;
}


.image-main {
  position: relative;
  z-index: 0;

}

.photo {
  padding-left: 10px;
}

.image-main:hover{
  filter: brightness(70%);
}

.username-hover {
  position: absolute;
  z-index: 1;
  left: 40%;
  top: 45%;
  // font-size: 20px;
  color: white;
  font-weight: bold;
}

.image-single{
  width: 500px;
}


img {
  object-fit: cover;
}
