@import "bulma";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-image {
  width:150px;
  margin-top: 15px;
  margin-left: 43%;
}

.main-content {
  text-align: center;
}













//////////////RYAN'S CSS DO NOT TOUCH!!////////////////////////////////////////

.userphoto-container{
  display: flex;
  align-items: center;
  justify-content: center;

}

.user-photo{
  height: 376px;
  width: 387px;
  align-self: center;
}

p{
  display: inline;
  align-self: flex-end;
}









//
