@import "bulma";



.userphoto-container{
  // background-color: #262626;
}

.userphoto-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-photo{
  height: 470px;
   width: 470px;
  align-self: center;
  border-radius: 50%;


  img{
    height: 270px;
    width: 270px;
  }
}

.userinfo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 50px;

  p{
    align-self: center;
    font-size: 40px;
  }
}


.ng-show {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}



.profile{

  display: flex;
  align-items: center;
  justify-content: center;

a{
  align-items: center;
  
}
}


.addprofile.ng-show {
    opacity: 0;
}
.addprofile {
  transition: all linear 500ms;
    opacity: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .columns{
    align-items: center;
  }
}

.columns is-gapless is-multiline is-mobile{
}

.card-image{
  // height: 350px;
  // width: 350px;
}

img.user-images{
  height: 350px;
  width: 350px;
}
