<div class="columns main-content">
  <div class="column is-two-thirds">

    <figure class="image is-1by1">
      <img ng-src="{{ photo.photo_url }}" alt="Image" class="photo">
    </figure>

    <p class="title is-1">{{ photo.username }}</p>

  </div>
  <div class="comments column is-one-third">
    <p class="comment-title title is-3">Comments</p>
    <p class="comment" ng-repeat="comment in comments">
    • {{ comment.comment }}
    </p>
    <form ng-submit="addComment(comment)">
      <div class="field">
        <p class="control">
          <input class="input" type="text" placeholder="Your Comment"
          ng-model="comment.comment">
        </p>
        <button>Add Comment</button>
        </div>
    </form>
  </div>
</div>
